name: Make test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Cache LLVM and Clang
        id: cache-llvm
        uses: actions/cache@v2
        with:
          path: |
            ~/llvm
          key: llvm-11
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "11"
          directory: ~/llvm
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}
      - name: Cache jBallerina
        id: cache-jbal
        uses: actions/cache@v2
        with:
          path: |
            ~/ballerina-linux-swan-lake-beta2
          key: jbal-slbeta2
      - name: Download and Unzip jBallerina
        if: steps.cache-jbal.outputs.cache-hit != 'true'
        run: |
          curl -L https://github.com/ballerina-platform/ballerina-distribution/releases/download/vswan-lake-beta2/ballerina-linux-swan-lake-beta2.zip > $HOME/ballerina-linux-swan-lake-beta2.zip
          unzip "$HOME/ballerina-linux-swan-lake-beta2.zip" -d "$HOME"
          chmod +x "$HOME/ballerina-linux-swan-lake-beta2/bin/bal"
      - name: Test
        run: |
          echo "$HOME/ballerina-linux-swan-lake-beta2/bin/" >> $GITHUB_PATH
          make -j2 test
