name: Testsuite

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
#       - name: Run a one-line script
#         run: echo Hello, world!
      # Runs a set of commands using the runners shell
      - name: Cache LLVM and Clang
        id: cache-llvm
        uses: actions/cache@v2
        with:
          path: |
            C:/Program Files/LLVM
            ./llvm
          key: llvm-11
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "11"
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}
      - name: Cache jBallerina
        id: cache-jbal
        uses: actions/cache@v2
        with:
          path: |
            ~/ballerina-linux-swan-lake-beta2
          key: jbal-slbeta2
      - name: Download and install jBallerina
        if: steps.cache-jbal.outputs.cache-hit != 'true'
        run: |
          curl -L https://github.com/ballerina-platform/ballerina-distribution/releases/download/vswan-lake-beta2/ballerina-linux-swan-lake-beta2.zip > ~/ballerina-linux-swan-lake-beta2.zip
          unzip "~/ballerina-linux-swan-lake-beta2.zip" -d "$HOME"
          chmod +x "~/ballerina-linux-swan-lake-beta2/bin/bal"
          echo "~/ballerina-linux-swan-lake-beta2/bin/" >> $GITHUB_PATH
      - name: Test
        run: |
          make test

