name: Testsuite

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
#       - name: Run a one-line script
#         run: echo Hello, world!
      # Runs a set of commands using the runners shell
      - name: Cache LLVM and Clang
        id: cache-llvm
        uses: actions/cache@v2
        with:
          path: |
            C:/Program Files/LLVM
            ./llvm
          key: llvm-11
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "11"
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}
      - name: Download ballerina
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: "ballerina-platform/ballerina-distribution"
          version: "tags/vswan-lake-beta2"
          file: "ballerina-linux-swan-lake-beta2.zip"
          target: "downloads/ballerina-linux-swan-lake-beta2.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: |
          make test

